# Database
DATABASE_URL=postgres://ad185ab527e556be5b1a0b6b89a8748e7179da907da1610832816cb6e31176f8:sk_1sJJI4oKw7TM0r2NdN1lU@db.prisma.io:5432/postgres?sslmode=require

# Auth0
AUTH0_DOMAIN=dev-7oowhopnlcg3nctb.us.auth0.com
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_SECRET=
AUTH0_BASE_URL=https://launch-pad-flame.vercel.app

# Gemini AI
GEMINI_API_KEY=

# Plaid
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox

# Stripe
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
NEXT_PUBLIC_APP_URL=https://launch-pad-flame.vercel.app

# Vercel Blob
BLOB_READ_WRITE_TOKEN=
